#acitivity {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
 }
  
 #acitivity td,
 #acitivity th {
  border: 1px solid #ddd;
  padding: 8px;
 }
  
 #acitivity tr:nth-child(even) {
  background-color: #f2f2f2;
 }
  
 #acitivity tr:hover {
  background-color: #ddd;
 }
  
 #acitivity th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #545b59;
  color: white;
 }
  
 input, label, select {
  display:block;
 }
  
 